.login_form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.login_form legend {
    font-size: 1.5em;
    padding: 10px;
}

.login_form label {
    display: block;
    margin: 30px 0;
}

.login_form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.login_form button {
    display: block;
    width: 80%;
    padding: 4px;
    margin: 50px auto 20px;
}